#pin_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        = image_tag @pin.image.url
      .panel-body
        %h1= @pin.title
        %p.description= @pin.description
        %p
       
      .panel-footer
        .row
          .col-md-6
            %p.user
            Submitted by
            = @pin.user.email
          .col-md-6
            .btn-group.pull-right
              = link_to "Back", root_path, class: "btn btn-default"
              -if user_signed_in?
                = link_to "Edit", edit_pin_path, class: "btn btn-default"
                = link_to "delete", pin_path, method: :delete, data: { confirm:"Are you sure"}, class: "btn btn-default"
