%h1= @pin.title
%p= @pin.description
%p
Submitted by
= @pin.user.email

= link_to "Back", root_path
= link_to "Edit", edit_pin_path
= link_to "delete", pin_path, method: :delete, data: { confirm:"Are you sure"} 
